@value colors: "../../variables.css";
@value blue from colors;
@value dark-blue from colors;
@value light-gray from colors;
@value gray from colors;

div.label {
	margin-bottom: .25rem;
	font-weight: bold;
}

div.field {
	margin-bottom: .5rem;
}

input, textarea {
	flex: 1;
	font-size: 1rem;
	color: dark-blue;
	border: .1rem solid #cacaca;
	border-radius: .25rem;
	background: #fefefe;
	margin-bottom: .5rem;
	padding: 0px .75rem 0px .75rem;
	font-family: inherit;
}

input {
	height: 2rem;
}
input:focus {
	border: .1rem solid blue;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: gray;
	font-size: 1rem;
}
::-moz-placeholder { /* Firefox 19+ */
	color: gray;
	font-size: 1rem;
}
:-ms-input-placeholder { /* IE 10+ */
	color: gray;
	font-size: 1rem;
}
:-moz-placeholder { /* Firefox 18- */
	color: gray;
	font-size: 1rem;
}

textarea {
	height: 5rem;
	padding: .5rem;
}

hr {
	border-color: light-gray;
}