body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.centered-content {
	margin: 0 auto 0 auto;
	max-width: 900px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.section-padding {
	padding-top: 2em;
	padding-bottom: 2em;
}

.flex {
	display: flex;
}